*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  display:flex;
  min-height:100vh;
  font-family:Arial, sans-serif;
  background:#f3f4f6;
}

/* MENU */
.sidebar{
  width:240px;
  min-height:100vh;
  background:#b91c1c;
  padding:20px;
}

.logo{
  color:white;
  margin-bottom:25px;
}

.logo h2{
  margin-bottom:6px;
}

.logo p{
  font-size:14px;
}

.sidebar a{
  display:block;
  color:white;
  text-decoration:none;
  padding:12px;
  border-radius:8px;
  margin-bottom:10px;
  background:#ffffff15;
}

.sidebar a:hover{
  background:#ffffff30;
}

/* CONTEÚDO */
.conteudo{
  flex:1;
  padding:30px;
}

.topo{
  margin-bottom:25px;
}

.topo h1{
  font-size:32px;
}

/* CARDS */
.card,
.stat{
  background:white;
  padding:22px;
  border-radius:12px;
  box-shadow:0 3px 10px #00000010;
  margin-bottom:20px;
}

/* DASHBOARD */
.dashboard{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:15px;
  margin-bottom:20px;
}

.stat{
  min-height:120px;
  display:flex;
  flex-direction:column;
  justify-content:center;
}

.stat h3{
  color:#666;
  font-size:18px;
  margin-bottom:10px;
}

.stat p{
  font-size:42px;
  font-weight:bold;
  color:#b91c1c;
}

/* FORM */
label{
  display:block;
  font-weight:bold;
  margin-bottom:5px;
}

input,
select{
  width:100%;
  padding:12px;
  margin-bottom:15px;
  border:1px solid #ccc;
  border-radius:8px;
}

/* BOTÕES */
button{
  border:none;
  background:#b91c1c;
  color:white;
  padding:10px 16px;
  border-radius:8px;
  cursor:pointer;
}

button:hover{
  background:#991b1b;
}

/* TABELA */
table{
  width:100%;
  border-collapse:collapse;
  margin-top:20px;
}

th,
td{
  padding:14px;
  text-align:left;
}

th{
  background:#b91c1c;
  color:white;
}

tr:nth-child(even){
  background:#f9fafb;
}

/* AÇÕES */
.acoes{
  display:flex;
  gap:10px;
}

.linha-item{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:12px 0;
  border-bottom:1px solid #eee;
}