*{
  box-sizing:border-box;
}

body{
  display:flex;
  min-height:100vh;
  font-family:Arial, sans-serif;
}

/* MENU */
.sidebar{
  width:250px;
  min-height:100vh;
  background:#b91c1c;
  padding:22px;
  position:fixed;
}

.logo{
  color:white;
  margin-bottom:28px;
}

.logo h2{
  font-size:24px;
}

.logo p{
  font-size:14px;
  margin:0;
  opacity:.85;
}

.sidebar a{
  display:block;
  color:white;
  text-decoration:none;
  padding:12px 14px;
  border-radius:10px;
  margin-bottom:8px;
}

.sidebar a:hover{
  background:rgba(255,255,255,.18);
}

/* CONTEÚDO */
.conteudo{
  margin-left:250px;
  width:calc(100% - 250px);
  padding:32px;
}

/* AJUSTES */
.card{
  border-radius:14px;
}

.acoes{
  display:flex;
  gap:8px;
}

.linha-item{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:12px 0;
  border-bottom:1px solid #eee;
}